[submodule "check"]
	path = check
	url = https://github.com/libcheck/check.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/zeux/leveldb.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/ukoethe/snappy.git
[submodule "libspatialindex"]
	path = libspatialindex
	url = https://github.com/Hemofektik/libspatialindex.git
[submodule "ZFXMath"]
	path = ZFXMath
	url = https://github.com/Hemofektik/ZFXMath.git
